body {
  background-color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
.titre {
  text-align: center;
}
#hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 10px solid azure;
  background-color: azure;
  margin: 20px auto;
}
#hero button {
  align-self: center;
  width: auto;
  padding: 10px 20px;
  border: 2px solid rgb(255, 255, 255);
  background-color: white;
  color: rgb(189, 208, 255);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

#hero button:hover {
  background-color: #a8c7ff;
  color: white;
  transform: scale(1.1);
}

#mid {
  text-align: left;
  display: flex;
  gap: 20px;
}
#commentsamarche {
  text-align: center;
}
#info-importantes {
  text-align: center;
}
.grille {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 20px auto;
}

.carte {
  width: 200px;
  border: 2px solid #1400f5;
  padding: 15px;
  background-color: rgb(204, 220, 255);
  border-radius: 10px;
  text-align: center;
}

.carte h3 {
  margin-top: 0;
}
